--extra-index-url https://packages.dea.ga.gov.au/
aiohttp
aiobotocore[awscli,boto3]==0.12.0
thredds-crawler
wget
requests
datacube
sat-search==0.3.0-rc1
# Pinned for Alex to index STAC.
odc-index==0.1.dev509+g92eea92
odc-aws
odc-aio
odc-thredds
odc-apps-cloud
